/**/

/* Style von CenterScreen-Buttons (Lichter und Gang) */

.button {
  background-color: #ffffff;
  border: none;
  display: inline-block;
}

/* einzelne Styles, 1 bis 4 sind Rechtecke mit mehr oder weniger abgerundeten Ecken, 5 ist rund*/
.button1 {
  border-radius: 2px;
}
.button2 {
  border-radius: 4px;
}
.button3 {
  border-radius: 8px;
}
.button4 {
  border-radius: 12px;
}
.button5 {
  border-radius: 50%;
}
